<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="Default" connectionString="Data Source=SERA;Initial Catalog=QLTV;User id=sa;Password=root;" />
        <add name="SA" connectionString="Data Source=SERA;Initial Catalog=QLTV;User id=sa;Password=root;" />
        <add name="Master" connectionString="Data Source=SERA;Initial Catalog=master;User id=sa;Password=root;" />
    </connectionStrings>
    <appSettings>
        <add key="Secret" value="8XVf4aMpoNuXGdWQYzlX9g==" />
    </appSettings>
</configuration>